<!-- ========================= SECTION CONTENT ========================= -->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<section class="section-content padding-y">

<!-- ============================ COMPONENT REGISTER   ================================= -->
	<div class="card mx-auto" style="max-width:520px; margin-top:40px;">

      <article class="card-body">
		<header class="mb-4"><h4 class="card-title">Sign up</h4></header>
		<form method="POST" action="/registerPost">
                <div class="form-group">
                    <label class="col-form-label">First Name</label>

                    <input class="form-control" type="text" id="FirstName" name="FirstName" value="{{FirstName}}" required>        
                </div> <!-- form-group end.// -->
                <div class="form-group">
                    <label class="col-form-label">Last Name</label>

                    <input class="form-control" type="text" id="LastName" name="LastName" value="{{LastName}}" required>        
                </div> <!-- form-group end.// -->
				<div class="form-group">
					<label class="col-form-label">Username</label>
                    <input class="form-control" type="text" id="Username" name="Username" value="{{Username}}" required>        
				</div> <!-- form-group end.// -->


				<div class="form-group">
						{{!-- {{ render_field(form.email, class="form-control") }}
						{% if emailerror %}
							<p  style="color:red;" class="error"><strong>Error:</strong> {{ emailerror }}
						{% endif %} --}}
                        <label class="col-form-label">Email</label>

                        <input class="form-control" type="text" id="Email" name="Email" value="{{Email}}" required>   
					<small class="form-text text-muted">We'll never share your email with anyone else.</small>
				</div> <!-- form-group end.// -->
				<div class="form-row">
					<div class="form-group col-md-6">
                        <label class="col-form-label">Password</label>
                        <input class="form-control" type="password" id="Password" name="Password" value="{{Password}}" required >
						<div class="row">
							<div class="col-sm">
								<span id="8char" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> 8 Characters
								Long<br>
								<span id="ucase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Uppercase
								Letter
							<br>
								<span id="lcase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Lowercase
								Letter<br>
								<span id="num" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Number
							</div>
						</div>
					</div> <!-- form-group end.// -->
					<div class="form-group col-md-6">
                        <label class="col-form-label">Confirm Password</label>

                        <input class="form-control" type="password" id="ConfirmPassword" name="ConfirmPassword" value ="{{ConfirmPassword}}" required>
						<div class="row">
							<div class="col-sm-12">
								<span id="pwmatch" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Passwords
								Match
							</div>
						</div>
					    {{!-- {{ render_field(form.confirm, class="form-control") }} --}}
					</div> <!-- form-group end.// -->
				</div>
				<div class="form-group">
					{{!-- {{ render_field(form.email, class="form-control") }}
					{% if emailerror %}
					<p style="color:red;" class="error"><strong>Error:</strong> {{ emailerror }}
						{% endif %} --}}
						<label class="col-form-label">Voice Recongition</label>
				
						<input class="form-control" type="file" id="Audio" name="Audio" value="{{Audio}}" required>
						<small class="form-text text-muted">This audio will be used for Voice Recongition.</small>
				</div>
				{{>_errors}} {{!-- views/partials/_errors.handlebars --}}

			    <div class="form-group">
			        <button type="submit" value="submit" class="btn btn-primary btn-block"> Register  </button>
			    </div> <!-- form-group// -->
			    <div class="form-group">
		            <label class="custom-control custom-checkbox"> <input type="checkbox" class="custom-control-input" checked=""> <div class="custom-control-label"> I agree with the <a href="#">terms and conditions</a>  </div> </label>
		        </div> <!-- form-group end.// -->
				{{!-- {% if similarerror %}
                    <p  style="color:red;" class="error"><strong>Error:</strong> {{ similarerror }}
                {% elif sameerror %}
                    <p  style="color:red;" class="error"><strong>Error:</strong> {{ sameerror }}
                {% endif %} --}}
			</form>
		</article><!-- card-body.// -->
    </div> <!-- card .// -->
    <p class="text-center mt-4">Have an account? <a href="/login">Log In</a></p>
    <br><br>
<!-- ============================ COMPONENT REGISTER  END.// ================================= -->


</section>
<script>
	$("input[type=password]").keyup(function () {
		var ucase = new RegExp("[A-Z]+");
		var lcase = new RegExp("[a-z]+");
		var num = new RegExp("[0-9]+");

		if ($("#Password").val().length >= 8) {
			$("#8char").removeClass("glyphicon-remove");
			$("#8char").addClass("glyphicon-ok");
			$("#8char").css("color", "#00A41E");
		} else {
			$("#8char").removeClass("glyphicon-ok");
			$("#8char").addClass("glyphicon-remove");
			$("#8char").css("color", "#FF0004");
		}

		if (ucase.test($("#Password").val())) {
			$("#ucase").removeClass("glyphicon-remove");
			$("#ucase").addClass("glyphicon-ok");
			$("#ucase").css("color", "#00A41E");
		} else {
			$("#ucase").removeClass("glyphicon-ok");
			$("#ucase").addClass("glyphicon-remove");
			$("#ucase").css("color", "#FF0004");
		}

		if (lcase.test($("#Password").val())) {
			$("#lcase").removeClass("glyphicon-remove");
			$("#lcase").addClass("glyphicon-ok");
			$("#lcase").css("color", "#00A41E");
		} else {
			$("#lcase").removeClass("glyphicon-ok");
			$("#lcase").addClass("glyphicon-remove");
			$("#lcase").css("color", "#FF0004");
		}

		if (num.test($("#Password").val())) {
			$("#num").removeClass("glyphicon-remove");
			$("#num").addClass("glyphicon-ok");
			$("#num").css("color", "#00A41E");
		} else {
			$("#num").removeClass("glyphicon-ok");
			$("#num").addClass("glyphicon-remove");
			$("#num").css("color", "#FF0004");
		}

		if ($("#Password").val() == $("#ConfirmPassword").val()) {
			$("#pwmatch").removeClass("glyphicon-remove");
			$("#pwmatch").addClass("glyphicon-ok");
			$("#pwmatch").css("color", "#00A41E");
		} else {
			$("#pwmatch").removeClass("glyphicon-ok");
			$("#pwmatch").addClass("glyphicon-remove");
			$("#pwmatch").css("color", "#FF0004");
		}
	});
</script>
<!-- ========================= SECTION CONTENT END// ========================= -->